<div class="row">
    <h3>Administración de Tickets</h3>
    <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="example-loading-shade"
             *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
        </div>
        <mat-table #table [dataSource]="dataSource" class="example-table"
                   matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let data; let incremental = index">
                    {{incremental + 1}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ticket">
                <mat-header-cell *matHeaderCellDef> #Ticket </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.id}} </mat-cell>
                <!-- <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>-->
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="cliente">
                <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.office.client.empresa}} </mat-cell>
                <!-- <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>-->
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="sucursal">
                <mat-header-cell *matHeaderCellDef> Sucursal </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.office.nombre}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="asignado">
                <mat-header-cell *matHeaderCellDef> Asignado A </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.user.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="problema">
                <mat-header-cell *matHeaderCellDef> Problema </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.titulo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="estatus">
                <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.estatus == 0 ? 'Abierto' : 'Cerrado'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="prioridad">
                <mat-header-cell *matHeaderCellDef> Prioridad </mat-header-cell>
                <mat-cell *matCellDef="let data">
                    {{data.estatus == 1 ? 'Baja' : ''}}
                    {{data.estatus == 2 ? 'Media' : ''}}
                    {{data.estatus == 3 ? 'Alta' : ''}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="creado">
                <mat-header-cell *matHeaderCellDef> Creado </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{ data.created_at }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cerrado">
                <mat-header-cell *matHeaderCellDef> Cerrado </mat-header-cell>
                <mat-cell *matCellDef="let data"> {{ data.close_at }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <span><mat-icon>add</mat-icon></span>
                </mat-header-cell>
                <mat-cell *matCellDef="let data">
                    <span (click)="add(data.id)"><mat-icon>edit</mat-icon></span>
                    <span><mat-icon>delete</mat-icon></span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="resultsLength" [pageSize]="perPage" #paginator>
        </mat-paginator>
    </div>
    <div class="text-center">
        <button class="btn alert-success" (click)="edit()">Agregar Nuevo</button>
    </div>
</div>