<div class="col-md-12">
    <h3 class="text-center">Login</h3>
    <form [formGroup]="FormGroup">
        <div class="col-md-12 text-center">
            <mat-form-field class="mat-input-container">
                <input matInput formControlName="username" placeholder="Correo Electrónico">
            </mat-form-field>
        </div>

        <div class="col-md-12 text-center">
            <mat-form-field>
                <input matInput formControlName="password" placeholder="Password">
            </mat-form-field>
        </div>

        <div class="col-md-12 text-center">
            <button mat-button (click)="login()">
                INGRESAR
            </button>
        </div>

    </form>
</div>
